<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">

  <!-- 1- Fill in the Name with the Entity ID for your Service Provider -->
  <!-- 2- Add the private key in to the file CertificatesSP\sp.pfx -->
  <!-- 3- Fill in the LocalCertificatePassword with the private key password -->
  
  <ServiceProvider Name=""
                   Description="This is an example SP"
                   AssertionConsumerServiceUrl="~/SAMLSP/AssertionConsumerService"
                   LocalCertificateFile="Certificates\sp.pfx"
                   LocalCertificatePassword=""/>
  
  <!-- 4- Fill in the Name with the Entity ID for your Identity Provider -->
  <!-- 5- Select Binding Type POST or Redirect for SSO and SLO -->
  <!-- 6- Select Signature Method SHA1, SHA256, SHA384 or SHA512 -->
  <!-- 7- Fill in the SingleSignOnServiceBinding with the SSO service URL -->
  <!-- 8- Fill in the SingleLogoutServiceBinding with the SLO service URL -->
  <!-- 9- Add the public key in to the file CertificatesIDP\idp.cer -->

  <PartnerIdentityProviders>
    <PartnerIdentityProvider Name=""
                             Description="This is an example Identity Provider"
                             SignAuthnRequest="false"
                             SingleSignOnServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"
                             SingleLogoutServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"
                             WantSAMLResponseSigned="false"
                             SignLogoutRequest="true"
                             WantLogoutResponseSigned="false"
                             SignatureMethod="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"
                             SingleSignOnServiceUrl=""
                             SingleLogoutServiceUrl=""
                             PartnerCertificateFile="Certificates\idp.cer"/>
  </PartnerIdentityProviders>

  <!-- 
  
      Binding Type
      The supported Binding Type are:
      • urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST
      • urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect
      
      Signature Methods
      The supported signature methods are:
      • http://www.w3.org/2000/09/xmldsig#rsa-sha1
      • http://www.w3.org/2001/04/xmldsig-more#rsa-sha256
      • http://www.w3.org/2001/04/xmldsig-more#rsa-sha384
      • http://www.w3.org/2001/04/xmldsig-more#rsa-sha512
      
  -->

</SAMLConfiguration>